@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.75;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

li {
    list-style-type: none;
}

.container: {
    96px 0;
    display: flex;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.blue {
    color: #6415ff;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* NAVIGATION */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 24px;
    padding-bottom: 2px;
    color: #243e63
}

ul {
    display: flex;
}

nav__links {
    display: flex;
    align-items: center;padding-bottom: 2px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: bold;
    padding: 12px
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    margin: 0;
    padding: 16px 32px;
    margin-top: 2px;
    border-radius: 50px;
    color: white;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* HEADER */

header {
    padding: 96px 0;
}

header .row {
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0 auto;
    text-align: center;
}

.header__description {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header__title {
    color: #1a202c;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
}

.header__para {
    font-size: 18px;
    padding: 0 36px 0 0;
    color: #243e63;
    margin: 32px 16px 32px 0;
    text-align: left;
}

.input__wrapper {
    padding: 8px;
    position: relative;
    width: 460px;
    border: 2px solid #7c8ba12d;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper input {
    width: 100%;
    padding: 8px 80px 8px 80px;
    font-size: 16px;
}

.input__text {
    padding: 16px 0;
    border: none;
}

.input__wrapper button {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px 16px;
    margin: 0 16px;
    font-size: 16px;
    cursor: pointer;
}

.header__btn {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.customers {
    margin-top: 80px;
    font-size: 14px;
    color: #a0aec0;
    text-align: left;
}

.header__figure--customers {
    opacity: .5;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 16px;
}

.header__img--wrapper {
    padding: 32px;
    width: 640px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* FEATURE */

#features {
    position: relative;
    max-width: 100vw;
    padding: 96px 8px;
    margin: 0 16px;
}

#features.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title--features {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-weight: 700;
}

.features__para--head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    color: #7c8ba1;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.features {
    padding: 0 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
}

.card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.features__img {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.features__title {
    color: #243e63;
}

.features__para {
    color: #7c8ba1;
    margin: 16px 0 0;
    padding: 12px;
}

.frame {
    border: 2px solid #7c8ba12f;
    border-radius: 50px;
    color: #7c8ba1;
    padding: 16px;
    display: inline-block;
}

.frame__img {
    width: 150px;
    display: inline-block;
}

/* QUALITY */

#quality {
    margin: 0 16px;
    padding: 96px 0;
}

#quality.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__head {
    padding: 16px 0;
}

.quality__para {
    padding: 16px 0;
    color: #7c8ba1;
}

.quality__btn {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.quality__container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.quality__text--box .quality__img--box {
    padding: 20px;

}
.quality__img {
    width: 600px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* STEPS */

#steps {
    margin: 0 16px;
    padding: 96px 0;
}

#steps.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.steps__head {
    margin: 16px 0 16px 0;
    font-weight: 700;
}

.section__title--steps {
    margin: 16px 0;
    font-weight: 700px;
    font-size: 16px;
    color: #243e63;
}

.step__para {
    font-size: 16px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.step {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
    gap: 16px;
}

.step__card {
    display: flex;
    flex-direction: column;
}

.step__number {
    padding: 4px 0;
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
}

.step__description {
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.steps__container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.steps__text--box {
    padding: 24px;

}

.steps__img {
    padding: 16px;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
}

/* VALUES */

#values {
    margin: 0 16px;
    padding: 96px 0;
}

.section__title--values {
    margin: 16px 0;
    font-weight: 600px;
    font-size: 16px;
    color: #243e63;
}

.values__head {
    margin: 16px 0 16px 0;
    font-weight: 600;
}

.values__para {
    font-size: 16px;
    color: #7c8ba1;
    padding: 16px;
}

.values__container {
    padding: 16px;
    display: flex;
    flex-direction: row;
    aic
    width: calc(100% / 2);
    gap: 20px;
}

.values__text--box {
    padding: 24px;
    width: calc(100% / 2);
}

.values__img--box {
    padding: 24px;
    width: calc(100% / 2);
}

.values__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.values__img--wrapper-aff {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #9ae6b4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__img--affordable {
    width: 20px;
    height: 20px;
}

.values__img--wrapper-prof {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #feb2b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__img--professionalism {
    width: 20px;
    height: 20px;
}

.values__title {
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
}

.values__img--primary {
    padding: 16px;
    max-width: 500px;
}

.title__rows {
    display: flex;
    gap: 24px;
}

.title__row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.values__btn {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

/* PRICING */

#pricing {
    padding: 96px 0;
}

.section__title--pricing {
    margin: 16px 0;
    font-weight: 600px;
    font-size: 16px;
    color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    font-weight: 700;
}

.pricing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__para {
    max-width: 576px;
    text-align: center;
    margin: 16px 0;
    color: #7c8ba1;
}

.plans {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 24px;
}

.plan__stripe--per {
    background-color: #38b2ac;
}

.plan__per {
    position: relative;
    background-color: #f7fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #243e633b;
    border-radius: 12px;
}

.plan__bus {
    background-color: #6415ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #243e633b;
    border-radius: 12px;
}

.plan__ent {
    background-color: #f7fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #243e633b;
    border-radius: 12px;
}

.plans__container {
    width: 300px;
}

.plan__stripe--per {
    position: absolute;
    background-color: #38b2ac;
}

.plan__top--per {
    color: #243e63;
    font-size: 16px;
    padding: 32px 0;
}

.plan__name--per {
    font-size: 20px;
}

.plan__price--per {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration--per {
    font-size: 16px;
    color: #a0aec0;
}

.plan__middle--per {
    color: #243e63;
    font-size: 16px;
    margin: 0 -32px;
    padding: 32px;
}

.plan__target--per {
    font-size: 20px;
    color: #1a202c;
}

.plan__feature--per {
    color: #718096;
    font-size: 16px;
    margin: 20px 0;
}

.plan__bottom--per {
    color: #243e63;
    font-size: 16px;
    padding: 32px;
}

.plan__btn--per {
   color: #f7fafc;
   background-color: #38b2ac;
   width: 160px;
   padding: 16px 16px;
   margin: 8px 8px 8px 0;
   font-size: 16px;
   border: none;
   border-radius: 50px;
   cursor: pointer; 
}

.plan__stripe--bus {
    color: #243e63;
}

.plan__top--bus {
    color: #f7fafc;
    font-size: 16px;
    padding: 32px 0;
}

.plan__name--bus {
    font-size: 20px;
}

.plan__price--bus {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration--bus {
    font-size: 16px;
    color: #f7fafc;
}

.plan__middle--bus {
    color: #f7fafc;
    font-size: 16px;
    margin: 0 -32px;
    padding: 32px;
}

.plan__target--bus {
    font-size: 20px;
    color: #f7fafc;
}

.plan__feature--bus {
    color: #f7fafc;
    font-size: 16px;
    margin: 20px 0;
}

.plan__bottom--bus {
    color: #f7fafc;
    font-size: 16px;
    padding: 32px;
}

.plan__btn--bus {
    color: #6415ff;
    background-color: #f7fafc;
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.plan__stripe--ent {
    color: #f56565;
}

.plan__top--ent {
    color: #243e63;
    font-size: 16px;
    padding: 32px 0;
}

.plan__name--ent {
    font-size: 20px;
}

.plan__price--ent {
    font-size: 48px;
    color: #a0aec0;
    margin: 4px 0;
}

.plan__duration--ent {
    font-size: 16px;
    color: #a0aec0;
}

.plan__middle--ent {
    color: #243e63;
    font-size: 16px;
    margin: 0 -32px;
    padding: 32px;
}

.plan__target--ent {
    font-size: 20px;
    color: #1a202c;
}

.plan__feature--ent {
    color: #718096;
    font-size: 16px;
    margin: 20px 0;
}

.plan__bottom--ent {
    color: #243e63;
    font-size: 16px;
    padding: 32px;
}

.plan__btn--ent {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #f56565;
    color: white;
    cursor: pointer;
}

/* TESTIMONIALS */

#testimonials {
    margin: 0 16px;
    padding: 96px 0;
}

#testimonials.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__container {
    display: flex;
}

.testimonials__text--box {
    padding: 0 0 0 64px;
}

.testimonials__img--primary {
    margin: 32px 0;
    padding: 64px 16px;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.section__title--testimonials {
    margin: 16px 0;
    font-weight: 700;
    font-size: 16px;
    color: #243e63;
}

.testimonials__head {
    margin: 16px 0 24px;
    font-weight: 700;
}

.testimonials__para--section {
    font-size: 16px;
    color: #7c8ba1;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.testimonials__para {
    font-size: 16px;
    color: #4a5568;
    margin: 16px 0 32px;
}

.testimonial {
    margin: 40px 0;
}

.testimonials__ratings {
    margin: 8px;
    color: #fabf2a;
}

.testimonials__header {
    color: #4a5568;
    margin: 16px 0 0;
}

.testimonials__container--photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__info {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.testimonials__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testimonials__btns {
    display: flex;
    gap: 12px;
}

.testimonials__btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #edf2f7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.testimonials__img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
   margin-bottom: 28px;
   animation: animate-profile-picture 800ms 200ms backwards;
}

.testimonials__name {
    color: #4a5568;
    font-size: 20px;
    padding: 0 32px;
}

.testimonials__title {
    color: #4a5568;
    font-size: 20px;
    padding: 0 32px;
}

/* START */

.start__container {
    width: 100%;
    max-width: 1200px;
    padding: 48px 16px;
    margin: 96px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #6415ff;
    color: #f7fafc;
}

.start__title {
    width: 100%;
    max-width: 500px;
    padding: 0 32px;
    font-size: 32px;
    font-weight: 600;
    color: #f7fafc;
    line-height: 1.5;
    z-index: 2;
}

.start__btns {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;    
    
}

.start__btn--get {
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    background-color: #f56565;
    line-height: 1.5;
    margin: 24px;
    z-index: 2;
}

.start__btn-contact {
   padding: 20px 40px;
    border: 1px solid #f7fafc79;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    background-color: #6415ff;
    line-height: 1.5;
    margin: 1px;
    z-index: 2; 
}

/* FOOTER */

#footer {
    color: #243e63;
    font-size: 16px;
    background-color: #6415ff;
    margin: 0 0 -32px;
    padding: 96px 32px;
}

.footer__container {
    width: 100%;
    max-width: 1200px;
    padding: 96px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #6415ff;
    color: #f7fafc;
}

.footer__top {
    width: 100%;

}

.footer__columns {
    padding: 48px ;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
}

.footer__column {
    margin: 48px 0 0;
}

.footer__list--primary {
    margin-top: 24px;
}

.footer__list {
    margin-top: 12px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__link--title {
    font-size: 16px;
    color: #f7fafc;
    margin: 48px 0 0;
}

.footer__link--primary {
    font-size: 14px;
    margin: 24px 0 0;
}

.footer__link {
    font-size: 14px;
    width: calc(100% / 5);
    max-width: 1000px;
    margin: 12px 0 0;
    color: #f7fafc;
}

.footer__divider {
    color: #742cff;
    margin: 64px 0;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__img {
    height: 40px;
    width: 40px;
}

.footer__title {
    font-size: 20px;
    padding: 0 0 0 8px;
}

