
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

p {
    line-height: 1.75;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

li {
    list-style-type: none;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.blue {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}



/* NAVIGATION BAR */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    weight: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
    padding-bottom: 2px;
    color: #243e63
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color:#243e63;
    font-weight: bold;
    padding: 12px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: white;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* HEADER */

header {
    padding: 96px 0;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0 auto;
    text-align: center;
}

header .row {
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.header__description {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header__title {
    color: #1a202c;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
}

.header__para {
    font-size: 16px;
    color: #243e63;
    margin: 32px 0;
    text-align: left;
}

.input-wrapper {
    position: relative;
    width: 460px;
    border: 2px solid #7c8ba12d;
    border-radius: 50px;
}

input-wrapper input {
    width: 100%;
    padding: 8px 80px 8px 8px;
    font-size: 16px;
}

.input__text {
    border: none;
}

input-wrapper button {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 8px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    cursor: pointer;
}

.header__btn {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.customers {
    margin-top: 80px;
    font-size: 14px;
    color: #a0aec0;
    text-align: left;
}

.header__figure--customers {
    opacity: .5;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: left;

    margin-top: 16px;
}

.header__img--wrapper {
    width: 640px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* FEATURES */

#features {
    position: relative;
    max-width: 100vw;
    padding: 32px 8px;
    margin: 0 16px;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-weight: bold;
}

.features__para--head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    color: #7c8ba1;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.features {
    padding: 0 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.features__img {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.features__title {
    color: #243e63;
}

.features__para {
    color: #7c8ba1;
    margin: 16px 0 0;
    padding: 12px;
}

.frame {
    border: 2px solid #7c8ba162;
    border-radius: 50px;
    color: #7c8ba1;
    padding: 8px;
    display: inline-block;
}

.frame__img {
    width: 150px;
    display: inline-block;
}
