@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.75;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

li {
    list-style-type: none;
}

.container: {
    96px 0;
    display: flex;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.blue {
    color: #6415ff;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* NAVIGATION */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 24px;
    padding-bottom: 2px;
    color: #243e63
}

ul {
    display: flex;
}

nav__links {
    display: flex;
    align-items: center;padding-bottom: 2px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: bold;
    padding: 12px
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    margin: 0;
    padding: 16px 32px;
    margin-top: 2px;
    border-radius: 50px;
    color: white;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* HEADER */

header {
    padding: 96px 0;
}

header .row {
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.header__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0 auto;
    text-align: center;
}

.header__description {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header__title {
    color: #1a202c;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
}

.header__para {
    font-size: 18px;
    padding: 0 36px 0 0;
    color: #243e63;
    margin: 32px 16px 32px 0;
    text-align: left;
}

.input__wrapper {
    padding: 8px;
    position: relative;
    width: 460px;
    border: 2px solid #7c8ba12d;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper input {
    width: 100%;
    padding: 8px 80px 8px 80px;
    font-size: 16px;
}

.input__text {
    padding: 16px 0;
    border: none;
}

.input__wrapper button {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px 16px;
    margin: 0 16px;
    font-size: 16px;
    cursor: pointer;
}

.header__btn {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.customers {
    margin-top: 80px;
    font-size: 14px;
    color: #a0aec0;
    text-align: left;
}

.header__figure--customers {
    opacity: .5;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 16px;
}

.header__img--wrapper {
    padding: 32px;
    width: 640px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* FEATURE */

#features {
    position: relative;
    max-width: 100vw;
    padding: 32px 8px;
    margin: 0 16px;
}

#features.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title--features {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-weight: 700;
}

.features__para--head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    color: #7c8ba1;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.features {
    padding: 0 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.features__img {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.features__title {
    color: #243e63;
}

.features__para {
    color: #7c8ba1;
    margin: 16px 0 0;
    padding: 12px;
}

.frame {
    border: 2px solid #7c8ba162;
    border-radius: 50px;
    color: #7c8ba1;
    padding: 8px;
    display: inline-block;
}

.frame__img {
    width: 150px;
    display: inline-block;
}

/* QUALITY */

#quality {
    margin: 0 16px;
    padding: 32px 8px;
}

#quality.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__head {
    padding: 16px 0;
}

.quality__para {
    padding: 16px 0;
    color: #7c8ba1;
}

.quality__btn {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}

.quality__container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.quality__text--box .quality__img--box {
    padding: 20px;

}
.quality__img {
    width: 600px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* STEPS */

#steps {
    margin: 0 16px;
    padding: 32px 8px;
}

#steps.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.steps__head {
    margin: 16px 0 16px 0;
    font-weight: 700;
}

.section__title--steps {
    margin: 16px 0;
    font-weight: 700px;
    font-size: 16px;
    color: #243e63;
}

.step__para {
    font-size: 16px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

.step {
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
    gap: 16px;
}

.step__card {
    display: flex;
    flex-direction: column;
}

.step__number {
    padding: 4px 0;
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
}

.step__description {
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.steps__container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.steps__text--box {
    padding: 24px;

}

.steps__img {
    padding: 16px;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
}

/* VALUES */

#values {
    margin: 0 16px;
    padding: 32px 8px;
}

.section__title--values {
    margin: 16px 0;
    font-weight: 600px;
    font-size: 16px;
    color: #243e63;
}

.values__head {
    margin: 16px 0 16px 0;
    font-weight: 600;
}

.values__para {
    font-size: 16px;
    color: #7c8ba1;
    padding: 16px;
}

.values__container {
    padding: 16px;
    display: flex;
    flex-direction: row;
    aic
    width: calc(100% / 2);
    gap: 20px;
}

.values__text--box {
    padding: 24px;
    width: calc(100% / 2);
}

.values__img--box {
    padding: 24px;
    width: calc(100% / 2);
}

.values__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.values__img--wrapper-aff {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #9ae6b4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__img--affordable {
    width: 20px;
    height: 20px;
}

.values__img--wrapper-prof {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #feb2b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__img--professionalism {
    width: 20px;
    height: 20px;
}

.values__title {
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
}

.values__img--primary {
    padding: 16px;
    max-width: 500px;
}

.title__rows {
    display: flex;
    gap: 24px;
}

.title__row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.values__btn {
    width: 160px;
    padding: 16px 16px;
    margin: 8px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    cursor: pointer;
}