@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* NAVIGATION BAR */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    weight: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
    padding-bottom: 2px;
    color: #243e63
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px;
    color:#243e63;
    font-weight: bold;
    padding: 12px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: white;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* HEADER */









